@import '~office-ui-fabric-react/dist/sass/References.scss';
.healthResult
{
  .result-message
  {
    padding-top : 50px;
  }

  .results-contain {
    width : 385;
    padding-top : 50px;
  }
  .headerBlock {
    padding-left: 50px;
    border: red solid 2px;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    /*background-color: $ms-color-themeDark;*/// default theme color
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .claim-account {
    display: flex;
    flex-direction: row
  }

  .result-message {
    display: flex;
    padding: 20px
  }

 
    
}